* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

body {
  background-color: #ffffff;
  padding: 0px;
}

.title {
  color: #d9d9d9;
  background-color: #1e549f;
  height: 20vh;
  padding-left: 40%;
  top: 50%;
}

.thoughts {
  background-color: antiquewhite;
  justify-content: flex-start;
}

.thought {
  background-color: #5fc9f3;
  padding: 10px;
  margin: auto;
  flex: auto;
  border-radius: 10px;

  margin-top: 15px;
}

.leaflet-container {
  width: 100%;
  height: 60vh;
}

.collapse-content.collapsed {
  display: none;
}

.collapse-content.expanded {
  display: block;
}

.postForm {
  margin: auto;
  width: 100%;
}
