* {
  font-family: Arial, Helvetica, sans-serif;
}
.leaflet-container {
  width: 25%;
  height: 25vh;
}

.collapse-content.collapsed {
  display: none;
}

.collapse-content.expanded {
  display: block;
}

.thought {
  background-color: lightblue;
}
